.text {
    color: rgb(255, 255, 255);
    font-size: 37px;
    -unity-text-align: middle-left;
    -unity-font-definition: url("project://database/Assets/UI/Fonts/Boxy-Bold.ttf?fileID=12800000&guid=727c83d89ad3a724a994bb5b10029619&type=3#Boxy-Bold");
    letter-spacing: 14px;
}

.text--secondary {
    color: rgb(204, 204, 204);
    -unity-font-definition: url("project://database/Assets/UI/Fonts/ARCADE.TTF?fileID=12800000&guid=a385c4995ae72cc4aa84673209dc8c18&type=3#ARCADE");
    font-size: 39px;
}

.text--tertiary {
    color: rgb(153, 153, 153);
}

.text--disabled {
    color: rgb(102, 102, 102);
}

.text--center {
    -unity-text-align: middle-center;
}

.text--xs {
    font-size: 12px;
}

.text--sm {
    font-size: 40px;
    -unity-font-definition: url("project://database/Assets/UI/Fonts/ARCADE.TTF?fileID=12800000&guid=a385c4995ae72cc4aa84673209dc8c18&type=3#ARCADE");
}

.text--lg {
    font-size: 20px;
}

.text--xl {
    font-size: 24px;
}

.text--display {
    font-size: 48px;
    color: rgb(107, 179, 255);
    -unity-text-align: middle-center;
    margin-bottom: 32px;
}

.text--hero {
    font-size: 170px;
    color: rgb(243, 243, 243);
    -unity-text-align: upper-center;
    margin-bottom: -30px;
    -unity-font-definition: url("project://database/Assets/UI/Fonts/ARCADE.TTF?fileID=12800000&guid=a385c4995ae72cc4aa84673209dc8c18&type=3#ARCADE");
    letter-spacing: 10px;
}

.text--success {
    color: rgb(74, 255, 107);
}

.text--danger {
    color: rgb(255, 74, 107);
}

.text--warning {
    color: rgb(255, 184, 74);
}

.text--accent {
    color: rgb(74, 255, 158);
}
