/* Utility Classes */

.hidden {
    display: none;
}

.visible {
    display: flex;
}

.fade-in {
    transition-duration: 0.3s;
    transition-property: opacity;
}

.scale-on-hover:hover {
    scale: 1.05;
    transition-duration: 0.2s;
}

.metric-label {
    margin-right: 4px;
}

.metric-value {
    margin-right: 8px;
    font-weight: bold;
}
